<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10">
          <h1 class="title">
            <%= @citizen.name %>
          </h1>
          <h2 class="subtitle">
            UID: 
            <%= @citizen.id %>
          </h2>          
        </div>
        <div class="column is-2">
          <% if logged_in? && current_citizen.admin %>
            <%= link_to "Update Details", edit_citizen_path(@citizen), class: "button is-large is-warning" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="details">
  <div class="container">
    <div>
      <a class="subtitle">
        <strong>Gender: </strong>
        <%= @citizen.gender %>
      </a>
    </div>

    <div>
      <a class="subtitle">
        <strong>Address: </strong>
        <%= @citizen.address %>
      </a>
    </div>

    <div>
      <a class="subtitle">
        <strong>Occupation: </strong>
        <%= @citizen.occupation %>
      </a>
    </div>

    <div>
      <a class="subtitle">
        <strong>Marital Status: </strong>
        <% if @citizen.marital_status %>
          Married
        <% else %>
          Un-married
        <% end %>
      </a>
    </div>

    <div>
      <a class="subtitle">
        <strong>Phone number: </strong>
        <%= @citizen.phone_number %>
      </a>
    </div>

    <div>
      <a class="subtitle">
        <strong>Is admin: </strong>
        <%= @citizen.admin %>
      </a>
    </div>

    <br>
    <h2 class="subtitle">
      <strong>Subsidies:</strong>
    </h2>
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              LPG Subsidy
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <% if @lpg_subsidy %>
                <p class="subtitle">
                  <strong>LPG Subsidy ID:</strong>
                  <%= @lpg_subsidy.id %>
                </p>
                <p class="subtitle">
                  <strong>Registration Date: </strong>
                  <%= @lpg_subsidy.created_at %>
                </p>
              <% else %>
                <p class="subtitle">Not registered</p>
              <% end %>
            </div>
          </div>
          <footer class="card-footer">
            <% if @lpg_subsidy %>
              <%= link_to 'Unregister', 
                    @lpg_subsidy, 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' }, 
                    class: "card-footer-item" %>
            <% else %>
              <%= link_to "Register",
                  new_lpg_subsidy_path,
                  class: "card-footer-item" %>
            <% end %>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Electricity Subsidy
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <% if @elec_subsidy %>
                <p class="subtitle">
                  <strong>Electricity Subsidy ID:</strong>
                  <%= @elec_subsidy.id %>
                </p>
                <p class="subtitle">
                  <strong>Registration Date: </strong>
                  <%= @elec_subsidy.created_at %>
                </p>
              <% else %>
                <p class="subtitle">Not registered</p>
              <% end %>
            </div>
          </div>
          <footer class="card-footer">
            <% if @elec_subsidy %>
              <%= link_to 'Unregister', 
                    @elec_subsidy, 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' }, 
                    class: "card-footer-item" %>
            <% else %>
              <%= link_to "Register",
                  new_elec_subsidy_path,
                  class: "card-footer-item" %>
            <% end %>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Education Subsidy
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <% if @edu_subsidy %>
                <p class="subtitle">
                  <strong>Electricity Subsidy ID:</strong>
                  <%= @edu_subsidy.id %>
                </p>
                <p class="subtitle">
                  <strong>Registration Date: </strong>
                  <%= @edu_subsidy.created_at %>
                </p>
              <% else %>
                <p class="subtitle">Not registered</p>
              <% end %>
            </div>
          </div>
          <footer class="card-footer">
            <% if @edu_subsidy %>
              <%= link_to 'Unregister', 
                    @edu_subsidy, 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' }, 
                    class: "card-footer-item" %>
            <% else %>
              <%= link_to "Register",
                  new_edu_subsidy_path,
                  class: "card-footer-item" %>
            <% end %>
          </footer>
        </div>
      </div>
    </div>

    <br>
    <h2 class="subtitle">
      <strong>Financial Transactions</strong>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
    </table>

  </div>
</div>